

#surname{
    font-size: 5rem;
    font-weight: bolder;
}



#main h5,h4,#gm{
    color: rgb(224, 223, 223);
}

#main {
    width: 100%;
    height: 100lvh;
    background-attachment: fixed;
  }
  


.row { 
    width: 100%;
}

#surname {
    font-family: "Audiowide", sans-serif;
    background: linear-gradient(90deg, #77faff, #a67ffb, #fdd6ff);
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.2); /* subtle glow */
    letter-spacing: 1px;
  }
  

#main{
    padding-top: 160px;
}






#shaa {
    width: 100%;
    height: auto;
    max-height: 612px;
  }
  



@media (max-width: 768px) {

    #main{
        padding-top: 100px;
        height: auto;
        margin: 0;
        padding-top: 30px;
        }

     #shaa {
        margin: 0;
        padding: 0;
        width: 300px; /* Make the image scale with the screen */
        height: 110%;
        text-align: center;
    }


    #first #surname{
        font-size: 3.8rem;
    }

    #main h5{
        font-size: medium;
    }

    #main h4{
        font-size: large;
    }

}



.blinking-dot {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: #fdd6ff; /* Light blue color */
  margin-left: 5px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



