#name{
    font-size: 3rem;
    font-weight: bolder;
}

#surname{
    font-size: 5rem;
    font-weight: bolder;
}

.main {
    margin: 0px;
    padding: 0px;
    display: flex;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
}

.row { 
    width: 100%;
}

h1 {
    font-family: "Audiowide", sans-serif;
    font-style: normal;
    background: linear-gradient(to right, rgb(91, 87, 91), rgb(248, 246, 248));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* Fallback */
}

#main{
    padding-top: 180px;
}


@media (max-width: 768px) {

    #main{
        padding-top: 100px;
    }

    .row #shaa {
        width: 100%; /* Make the image scale with the screen */
        height: auto;
        height: 100%;
    }

    .col-md-3 img{
        width: 60%;
    }
    .row {
        margin-bottom: 20px;
        padding: 10px;
    }
    .col-12 {
        margin-top: 20px;
    }
    #first #name{
        font-size: 2rem; /* Reduce the size for smaller screens */
    }

    #first #surname{
        font-size: 3rem;
    }

    #first h4{
        font-size: medium;
    }

}


