#about{
    background-color: black;
    color: white;
}


@media (max-width: 768px) {
    .row {
      flex-direction: column-reverse;
      align-items: center;
    }
  
    .row img {
      margin-bottom: 20px;
    }

    .col-md-3 img{
        width: 60%;
    }

  }/* General styles for desktop */
#about {
    padding: 20px;
  }
  
  .col-md-6 {
    padding: 20px;
  }
  
  .col-md-3 img {
    margin-top: 20px;
    border-radius: 10px;
  }
  
