@import "tailwindcss";

.h{
    text-decoration: none;
    color: black;
}

#nav {
    position: fixed; /* Keeps the navbar fixed */
    left: 50%; /* Move it to the center */
    transform: translateX(-50%); /* Center it properly */
    z-index: 1000;
    backdrop-filter: blur(10px);
    background-color: #1e1e2f;
    display: flex;
    justify-content: space-around;
  border-radius: 15px;
  }

  #nav a{
    text-decoration: none;
    color: inherit;
    color: white;
    font-size: medium;
    font-weight: 600;
    text-decoration: none;
    padding: 1px 12px;
  }


#nav a.active-link{
  background: linear-gradient(to right,#a67ffb,rgb(5, 5, 71));
  color: white;
  border-radius: 9px;
}






@media (max-width:768px) {
  #nav{
    width: 90%;
  }

  #nav a{
    font-size: small;
  }



}



@media (min-width:768px){
  #nav{
    width: 40%;
  }
}





