

#contact {
  padding: 60px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background: radial-gradient(circle at top, #0d0549 0%, rgb(1, 1, 18) 100%);
  color: #fff;
  margin-top: 70px;
}









@media (max-width: 768px) {
    #contact {
      flex-direction: column-reverse;
    }
  
    .row img {
      margin-bottom: 20px;
    }

    .col-md-3 img{
        width: 60%;
    }

    #contact .col-12 {
      padding: 10px;
    }
}