/* src/font.css */
@font-face {
  font-family: 'Halvetica';
  src: url('/fonts/HelveticaNeueMedium.woff2') format('woff2'),
       url('/fonts/HelveticaNeueMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}