@import "tailwindcss";


* {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    color: rgb(224, 223, 223);
    font-family: "montserrat",sans-serif;
 
}


* {
    @apply   font-stretch-normal 
}


#heading {
    font-family: "Audiowide", sans-serif;
    font-weight: bolder;
    font-style: normal;
    background: linear-gradient(to bottom,#62e0e4, #200260);
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.2); /* subtle glow */
    letter-spacing: 1px;
}





