@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

* {

    font-weight: normal;
    font-family: "montserrat",sans-serif;
 
}


* {
    @apply font-stretch-normal
}


/* #heading {
    font-family: "Audiowide", sans-serif;
    font-weight: bolder;
    font-style: normal;
    background: linear-gradient(to bottom,#62e0e4, #200260);
    color: transparent;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.2); 
    letter-spacing: 1px;
} */





